AZURE_AD_TENANT_ID=d0aab441-fcab-4807-a7aa-82ba2b78023f

# --- 🔐 JWT CONFIGURACIÓN ---
JWT_REFRESH_SECRET= borealis_dev_refresh
JWT_EXPIRATION=900   

JWT_SECRET=borealis_dev  # En segundos (ej: 15 min = 900)
JWT_REFRESH_EXPIRATION=24h      # En segundos (ej: 7 días = 604800)

# --- 💾 BASE DE DATOS ---
DB_NAME=borealis_dev_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# --- 📡 SERVIDOR ---
PORT=8443
# --- 🔐 CONTROL DE SESIONES ---
MAX_ACTIVE_SESSIONS=1            
