AZURE_AD_TENANT_ID=d0aab441-fcab-4807-a7aa-82ba2b78023f

# --- 🔐 JWT CONFIGURACIÓN ---
JWT_REFRESH_SECRET= borealis_auth_dev_refresh
JWT_EXPIRATION=900   

JWT_SECRET=borealis_auth_dev  # En segundos (ej: 15 min = 900)
JWT_REFRESH_EXPIRATION=604800      # En segundos (ej: 7 días = 604800)

# --- 💾 BASE DE DATOS ---
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/borealis_auth_dev_db"

# --- 📡 SERVIDOR ---
PORT=3000
# --- 🔐 CONTROL DE SESIONES ---
MAX_ACTIVE_SESSIONS=1            
